In [2]:
import pickle
import pandas as pd

In [4]:
def merge_expanding_means_ind(df):
    exp_lists = {}
    exp_ind = {}
    for column in rol_col_ind:
        exp_lists[column] = []
        exp_ind[column] = []

    exp_series_dict = {}
    for column in rol_col_ind:
        exp_series_dict[f'Season{column}'] = []
        
    for column in rol_col_ind:
    
        for team in df.groupby('PLAYER_ID').groups:
            team_rol = df.groupby('PLAYER_ID')[column].expanding().mean()[team].shift()
            exp_lists[column].extend(list(team_rol.values))
            exp_ind[column].extend(list(team_rol.index))
    
        exp_series_dict[f'Season{column}'] = pd.Series(exp_lists[column], exp_ind[column], name = f"{column} Season")
    
    for series in exp_series_dict:
        df = df.merge(exp_series_dict[series], left_index=True, right_index=True)
        
    return df

In [5]:
rol_col_ind = ['OFF_RATING', 'DEF_RATING', 'NET_RATING']

In [3]:
with open('data/pickles/starters21.p', 'rb') as readfile: 
    starters21 = pickle.load(readfile)
    
with open('data/pickles/starters20.p', 'rb') as readfile: 
    starters20 = pickle.load(readfile)
    
with open('data/pickles/starters19.p', 'rb') as readfile: 
    starters19 = pickle.load(readfile)
    
with open('data/pickles/starters18.p', 'rb') as readfile: 
    starters18 = pickle.load(readfile)
    
with open('data/pickles/starters17.p', 'rb') as readfile: 
    starters17 = pickle.load(readfile)

In [4]:
starters20

,index,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE,OFF_RATING Season,DEF_RATING Season,NET_RATING Season
0,0,0021900001,1610612740,NOP,New Orleans,201950,Jrue Holiday,Jrue,F,,...,0.208,0.206,108.28,105.74,88.11,90,0.029,NaN,NaN,NaN
1,1,0021900001,1610612740,NOP,New Orleans,1627742,Brandon Ingram,Brandon,F,,...,0.272,0.269,108.99,107.35,89.46,77,0.112,NaN,NaN,NaN
2,2,0021900001,1610612740,NOP,New Orleans,202324,Derrick Favors,Derrick,C,,...,0.137,0.136,115.39,113.31,94.43,49,0.056,NaN,NaN,NaN
3,3,0021900001,1610612740,NOP,New Orleans,200755,JJ Redick,JJ,G,,...,0.179,0.177,112.46,111.86,93.21,63,0.080,NaN,NaN,NaN
4,4,0021900001,1610612740,NOP,New Orleans,1628366,Lonzo Ball,Lonzo,G,,...,0.153,0.151,113.73,111.14,92.62,57,0.080,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5925,13,0021900593,1610612738,BOS,Boston,202330,Gordon Hayward,Gordon,F,,...,0.158,0.159,106.12,105.90,88.25,67,0.087,113.885714,104.080952,9.819048
5926,14,0021900593,1610612738,BOS,Boston,1628369,Jayson Tatum,Jayson,F,,...,0.318,0.327,97.22,96.86,80.72,59,0.171,112.437838,101.605405,10.829730
5927,15,0021900593,1610612738,BOS,Boston,202683,Enes Kanter,Enes,C,,...,0.226,0.229,102.81,100.71,83.92,56,0.158,117.700000,113.300000,4.366667
5928,16,0021900593,1610612738,BOS,Boston,1627759,Jaylen Brown,Jaylen,G,,...,0.236,0.240,101.96,103.17,85.97,65,0.112,111.778788,105.742424,6.036364
5929,17,0021900593,1610612738,BOS,Boston,202689,Kemba Walker,Kemba,G,,...,0.185,0.188,103.72,105.22,87.68,60,0.114,115.784848,108.263636,7.515152

In [26]:
starters21.reset_index(inplace=True)
starters20.reset_index(inplace=True)

In [27]:
starters21 = merge_expanding_means_ind(starters21)   
starters20 = merge_expanding_means_ind(starters20)

In [28]:
starters19.reset_index(inplace=True)
starters18.reset_index(inplace=True)
starters17.reset_index(inplace=True)

In [29]:
starters19 = merge_expanding_means_ind(starters19)
starters18 = merge_expanding_means_ind(starters18)
starters17 = merge_expanding_means_ind(starters17)

In [30]:
starters21

,level_0,index,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,...,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE,OFF_RATING Season,DEF_RATING Season,NET_RATING Season
0,0,0,0022000001,1610612744,GSW,Golden State,203952,Andrew Wiggins,Andrew,F,...,0.259,0.262,111.88,109.11,90.93,72,-0.044,NaN,NaN,NaN
1,1,1,0022000001,1610612744,GSW,Golden State,1629672,Eric Paschall,Eric,F,...,0.127,0.130,112.22,111.37,92.81,49,0.012,NaN,NaN,NaN
2,2,2,0022000001,1610612744,GSW,Golden State,1630164,James Wiseman,James,C,...,0.286,0.290,116.62,114.65,95.54,58,0.166,NaN,NaN,NaN
3,3,3,0022000001,1610612744,GSW,Golden State,1626162,Kelly Oubre Jr.,Kelly,G,...,0.243,0.244,120.78,118.83,99.03,63,0.000,NaN,NaN,NaN
4,4,4,0022000001,1610612744,GSW,Golden State,201939,Stephen Curry,Stephen,G,...,0.313,0.314,119.41,117.16,97.64,74,0.127,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10795,10795,15,0022001080,1610612764,WAS,Washington,202722,Davis Bertans,Davis,F,...,0.143,0.141,111.53,107.69,89.74,60,0.063,101.533333,109.633333,-8.083333
10796,10796,16,0022001080,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,...,0.152,0.153,107.10,104.80,87.34,74,0.106,109.489286,112.892857,-3.403571
10797,10797,17,0022001080,1610612764,WAS,Washington,203458,Alex Len,Alex,C,...,0.000,0.000,111.91,108.00,90.00,11,0.000,105.524390,116.058537,-10.546341
10798,10798,18,0022001080,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,...,0.381,0.388,105.07,104.02,86.68,76,0.059,114.474576,114.959322,-0.479661
10799,10799,19,0022001080,1610612764,WAS,Washington,201566,Russell Westbrook,Russell,G,...,0.240,0.248,106.55,104.52,87.10,87,0.177,108.382813,110.789063,-2.403125

In [34]:
starters21['NET_RATING Season'].sort_values(ascending=False).head(10)

191     64.3
5162    59.6
853     57.4
192     57.0
2464    55.4
164     52.9
190     52.6
162     52.5
2607    52.4
163     51.1
Name: NET_RATING Season, dtype: float64

,level_0,index,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,...,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE,OFF_RATING Season,DEF_RATING Season,NET_RATING Season
5162,5162,2,0022000544,1610612737,ATL,Atlanta,201568,Danilo Gallinari,Danilo,C,...,0.216,0.219,96.53,98.27,81.89,79,0.168,149.1,89.5,59.6

In [31]:
with open('data/pickles/starters21.p', 'wb') as writefile: 
    pickle.dump(starters21, writefile)
with open('data/pickles/starters20.p', 'wb') as writefile: 
    pickle.dump(starters20, writefile)
with open('data/pickles/starters19.p', 'wb') as writefile: 
    pickle.dump(starters19, writefile)
with open('data/pickles/starters18.p', 'wb') as writefile: 
    pickle.dump(starters18, writefile)
with open('data/pickles/starters17.p', 'wb') as writefile: 
    pickle.dump(starters17, writefile)